html {
    scroll-behavior: smooth;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 60px;
    padding: 0 15px;
    background-color: #000;
    border-bottom: 2px solid #fff;
    z-index: 1000;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .site-header {
        width: calc(100vw - 16px); /* Adjust width for larger screens */
    }
}

.info-button {
    cursor: pointer;
    padding: 5px 10px; /* Keep padding but remove extra right padding */
    font-size: 14px;
    background-color: black;
    color: white;
    border: 2px solid white;
    box-sizing: border-box; /* This makes sure the border is included in the button's total width */
}

.info-button:hover {
    cursor: url('Cursors/linkCursor.png'), pointer;
}

.header-logo {
    height: 30px;
    width: auto; 
}

head {
    overscroll-behavior: none ;
    overscroll-behavior-x: none;
}

body {
    cursor: url('Cursors/mainCursor.png'), auto;
    background-color: black;
    overscroll-behavior: none ;
    overscroll-behavior-x: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

.empty-intro-container {
    position: relative;
    width: 100%;
    height: 97vh;
}

.video-container {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100vw;
    height: calc(100vh - 60px);
    /*max-height: 100%;*/
    background-color: black;
    z-index: -1;
    border-bottom: 2px solid white;
}

.autoplay-video {
    position: absolute;
    right: 0;
    top: 15vh; /* Offset the top position by the same amount to align with the new container height */
    width: 60vw;
    height: auto;
    max-height: calc(100vh - 70px - 14vh) ;
}

.overlay-content {
    position: absolute;
    top: 0;
    right: 65%;
    left: 10vw;
    /*height: 90vh;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    width: 20vw;
}

.overlay-image {
    height: 100px;
    margin: 0 ;
}

.overlay-text {
    font-size: 14px;
    color: white;
    margin-top: 0;
    border: none;
    /*height: 90vh;*/
}

.scroll-indicator {
    position: absolute; /* Or 'absolute' if it's within a positioned container */
    bottom: 5vh; /* Distance from the bottom of the viewport */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Align the center of the element with the center of the viewport */
    font-size: 2vh; /* Arrow size, adjust as needed */
    color: white; /* Arrow color, change as per your design */
    z-index: 10; /* Ensure it's above other content */
}


ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline-block;
    /*margin-right: 20px;*/
    line-height: 5;
}

ul li a {
    padding: 12px 18px;
    /*padding: 5px;*/
    border: 2px solid white;
}

ul li a:hover {
    text-decoration: none;
    
}

main {
    margin-left: 0;
    margin-right: 0;
    padding: 50px;
    background-color: transparent;
    margin-top: 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    overscroll-behavior: none ;
    overscroll-behavior-x: none;
}

.black-highlight:hover {
    background: white;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

@media (max-width: 800px) {
    main {
        margin-right: 3px;
    }
    .overlay-text:nth-of-type(n+2) {
        display: none;
    }
}

@media (max-height: 600px) {
    .overlay-text:nth-of-type(n+2) {
        display: none;
    }
}

section {
    scroll-margin-top: 70px;
}

section a:hover {
    border: 2px solid deeppink;
}

.section-head {
    text-align: center;
    border: 2px solid white;
}

/*.section-head:hover {*/
/*    border: 2px solid deeppink;*/
/*}*/

main h2 {
    background: black;
    color: white;
    padding: 10px;
    border: 2px solid white;
}

main p {
    background: black;
    color: white;
    padding: 10px;
    border: 2px solid white;
}

.project-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust minmax for your project size */
    gap: 20px; /* Adjust for the gap between projects */
    
}

.project {
    /* Your project styling; no need for margin-right adjustments */
    margin-bottom: 20px; /* Adjust if necessary */
    
}

h3 {
    text-align: center;
    background: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid white;
}

a h3:hover {
    color: deeppink;
    border: 2px solid deeppink;
}

.project a {
    background: transparent none;
}

.project h3 {
    text-align: center;
    background: black;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid white;
    
}

/*.project a:hover {*/
/*    !*background: deeppink;*!*/
/*    border: solid deeppink 2px;*/
/*}*/


.project img {
    max-width: 100%;
    height: auto;
    border: 2px solid white;
}

.project video {
    max-width: 100%;
    height: auto;
    border: 2px solid white;
    
}

.project video:hover {
    border: 2px solid deeppink;
}



.gif-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    
}

.gif {
    flex: 0 0 calc(33.33% - 10px);
    box-sizing: border-box;
    margin-bottom: 20px;
   
}

.gif img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid white;
}

@media (max-width: 768px) {
    .gif {
        flex: 0 0 calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .gif {
        flex: 0 0 100%;
    }
}

.project-image {
    max-width: 100%;
    height: auto;
}

.project img:hover {
    border: 2px solid deeppink;
}

a {
    text-decoration: none;
    color: white;
    position: relative;
    background: black;
    display: block;
}


a:hover {
    color: deeppink;
    cursor: url('Cursors/linkCursor.png'), pointer;
}


.image-container {
    position: relative;
}

.project-image {
    width: 100%;
    height: auto;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    text-align: center;
}

.text-box p {
    margin: 10px 0;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media (max-width: 800px) {
    .center-image {
        width: 100%;
    }
}

h1 {
    color: white;
    position: relative;
    background: black;
    padding: 10px;
    border: 2px solid white;
}

.coming-soon:hover {
    color: deeppink;
}

::-webkit-scrollbar {
    width: 16px;
    position: fixed;
    border-left: 2px solid white;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: white;
}
